<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
<style>
    @import url(http://fonts.googleapis.com/css?family=Roboto);

    .container{padding-top: 5%;}
    /****** LOGIN ******/
    .logo{
        background-image: url("../../../web/logo.png");
    }
    .login-container {
        padding: 30px;
        max-width: 350px;
        width: 100% !important;
        background-color: #F7F7F7;
        margin: 100px auto;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
        font-family: roboto;
    }

    .login-container h1 {
        text-align: center;
        font-size: 1.8em;
        font-family: roboto;
    }

    .login-container input[type=submit] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
    }

    .login-container input[type=text], input[type=password],input[type="number"],input[type="email"] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        /* border-radius: 2px; */
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    .login-container input[type=text]:hover, input[type=password]:hover {
        border: 1px solid #b9b9b9;
        border-top: 1px solid #a0a0a0;
        -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }

    .login-submit {
        /* border: 1px solid #3079ed; */
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        background-color: #4d90fe;
        padding: 17px 0px;
        font-family: roboto;
        font-size: 14px;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
    }

    .login-submit:hover {
        /* border: 1px solid #2f5bb7; */
        border: 0px;
        text-shadow: 0 1px rgba(0,0,0,0.3);
        background-color: #357ae8;
        /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
    }

    .login-container a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
        transition: opacity ease 0.5s;
    }

    .login-help{
        font-size: 12px;
    }
    body { padding-bottom: 70px; }
</style>
{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">

                <a href="{{ path('homepage')}}"> <img src="{{ asset('logo.png') }}" alt="" width="150" height="30"/></a>
            </a>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="MainnavBar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage')}}">Accueil</a></li>

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ADMIN')%}

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('bus_index') }}">Bus</a></li>
                                    <li><a href="{{ path('conducteur_index') }}">Conducteurs</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('ligne_index')}}">Ligne</a></li>
                                    <li><a href="{{ path('lignestation_index')}}">Routes</a></li>
                                    <li><a href="{{ path('station_index') }}">Stations</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Réservation</a></li>
                                    <li><a href={{ path('carte_index') }}>Mes Cartes</a></li>
                                </ul>
                            </li>
                            {% endif %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bonjour {{ app.user.username}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Profile/">Mon Compte</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mon Compte<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                            </ul>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
<main role="main" class="container ">
{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}

{% block body %}{% endblock %}
</main>

<script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}

</body>
</html>



